body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  font-size: 0.875rem;
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  padding-inline: 5rem;
  background-image: url("../assets/images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: center 550px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
  color: hsl(0, 0%, 100%);
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
  color: hsl(0, 0%, 100%);
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.btn {
  border-radius: 50px;
  padding: 1rem 5rem;
  border: none;
  background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
  font-family: 700;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  font-family: "Raleway", sans-serif;
}
.header__links {
  display: flex;
}
.header__links > a {
  opacity: 0.6;
  transform: opacity 300ms ease-in-out;
}
.header__links > a:not(:last-child) {
  margin-right: 1rem;
  cursor: pointer;
}
.header__links > a:after {
  content: "";
  display: block;
  height: 1px;
  background-color: hsl(0, 0%, 100%);
  opacity: 0;
  transform: opacity 300ms ease-in-out;
}
.header__links > a:hover {
  opacity: 1;
}
.header__links > a:hover::after {
  opacity: 1;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 20rem;
  text-align: center;
}
.hero__illustration {
  height: 400px;
  width: 500px;
}
.hero__illustration img {
  height: 100%;
  width: 100%;
}
.hero h1 {
  font-family: "Raleway", sans-serif;
}

.feature__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  padding-inline: 5rem;
  margin-top: 5rem;
}
.feature__card {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  justify-items: center;
  row-gap: 10px;
}
.feature__card--icon {
  height: 60px;
  width: 60px;
}
.feature__card--icon img {
  height: 100%;
  width: 100%;
}
.feature__card p {
  padding-inline: 2rem;
}
