body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  font-size: 0.875rem;
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  padding-inline: 5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
  color: hsl(0, 0%, 100%);
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
  color: hsl(0, 0%, 100%);
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}
.header__links {
  display: flex;
}
.header__links > a {
  opacity: 0.6;
  transform: opacity 300ms ease-in-out;
}
.header__links > a:not(:last-child) {
  margin-right: 1rem;
  cursor: pointer;
}
.header__links > a:after {
  content: "";
  display: block;
  height: 1px;
  background-color: hsl(0, 0%, 100%);
  opacity: 0;
  transform: opacity 300ms ease-in-out;
}
.header__links > a:hover {
  opacity: 1;
}
.header__links > a:hover::after {
  opacity: 1;
}
