.header {
    padding-inline: $padding-inline;
    background: $color-dark-blue-1;
    @include breakpoint-down(phone){
        padding-inline: $padding-inline-mobile;
    }


    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 2rem;
        font-family: $ff-secondary;
    }

    &__logo{
        @include breakpoint-down(phone){
          width: 90px;
          height: 40px;
          img{
            height: 100%;
            width: 100%;
          }
        }
    }

    &__links {
        display: flex;

        > a {
            opacity: 0.6;
            transform: opacity 300ms ease-in-out;

            &:not(:last-child) {
                margin-right: 1rem;
                cursor: pointer;
            }

            &:after {
                content: "";
                display: block;
                height: 1px;
                background-color: $color-white;
                opacity: 0;
                transform: opacity 300ms ease-in-out;
            }

            &:hover {
                opacity: 1;

                &::after {
                    opacity: 1;
                }
            }
        }
    }
}